Repository lowlighter/mizu, changes with the labels that .github/labeler.yml gives for each.
All labels: scope:repo, scope: bind, scope: clean, scope: code, scope: custom-element, scope: eval, scope: event, scope: extras, scope: for, scope: html, scope: http, scope: if, scope: internal, scope: is, scope: markdown, scope: mizu, scope: model, scope: mustache, scope: once, scope: ref, scope: refresh, scope: render, scope: repo, scope: set, scope: show, scope: skip, scope: test, scope: text, scope: toc, scope: unstable, scope: www

.github/labeler.yml:

# Repository files

"scope:repo":
  - changed-files:
      - any-glob-to-any-file:
          - .devcontainer/**
          - .github/**
          - .gitattributes
          - .gitignore
          - LICENSE
          - "*.md"
          - vercel.json

## == Autogenerated configuration starts below == ##

"scope: bind":
  - changed-files:
      - any-glob-to-any-file: "@mizu/bind/**"
"scope: clean":
  - changed-files:
      - any-glob-to-any-file: "@mizu/clean/**"
"scope: code":
  - changed-files:
      - any-glob-to-any-file: "@mizu/code/**"
"scope: custom-element":
  - changed-files:
      - any-glob-to-any-file: "@mizu/custom-element/**"
"scope: eval":
  - changed-files:
      - any-glob-to-any-file: "@mizu/eval/**"
"scope: event":
  - changed-files:
      - any-glob-to-any-file: "@mizu/event/**"
"scope: extras":
  - changed-files:
      - any-glob-to-any-file: "@mizu/extras/**"
"scope: for":
  - changed-files:
      - any-glob-to-any-file: "@mizu/for/**"
"scope: html":
  - changed-files:
      - any-glob-to-any-file: "@mizu/html/**"
"scope: http":
  - changed-files:
      - any-glob-to-any-file: "@mizu/http/**"
"scope: if":
  - changed-files:
      - any-glob-to-any-file: "@mizu/if/**"
"scope: internal":
  - changed-files:
      - any-glob-to-any-file: "@mizu/internal/**"
"scope: is":
  - changed-files:
      - any-glob-to-any-file: "@mizu/is/**"
"scope: markdown":
  - changed-files:
      - any-glob-to-any-file: "@mizu/markdown/**"
"scope: mizu":
  - changed-files:
      - any-glob-to-any-file: "@mizu/mizu/**"
"scope: model":
  - changed-files:
      - any-glob-to-any-file: "@mizu/model/**"
"scope: mustache":
  - changed-files:
      - any-glob-to-any-file: "@mizu/mustache/**"
"scope: once":
  - changed-files:
      - any-glob-to-any-file: "@mizu/once/**"
"scope: ref":
  - changed-files:
      - any-glob-to-any-file: "@mizu/ref/**"
"scope: refresh":
  - changed-files:
      - any-glob-to-any-file: "@mizu/refresh/**"
"scope: render":
  - changed-files:
      - any-glob-to-any-file: "@mizu/render/**"
"scope: repo":
  - changed-files:
      - any-glob-to-any-file: "@mizu/repo/**"
"scope: set":
  - changed-files:
      - any-glob-to-any-file: "@mizu/set/**"
"scope: show":
  - changed-files:
      - any-glob-to-any-file: "@mizu/show/**"
"scope: skip":
  - changed-files:
      - any-glob-to-any-file: "@mizu/skip/**"
"scope: test":
  - changed-files:
      - any-glob-to-any-file: "@mizu/test/**"
"scope: text":
  - changed-files:
      - any-glob-to-any-file: "@mizu/text/**"
"scope: toc":
  - changed-files:
      - any-glob-to-any-file: "@mizu/toc/**"
"scope: unstable":
  - changed-files:
      - any-glob-to-any-file: "@mizu/unstable/**"
"scope: www":
  - changed-files:
      - any-glob-to-any-file: "@mizu/www/**"

perf(internal): skip directives without setup or cleanup hooks
  @mizu/internal/engine/renderer.ts
Labels: scope: internal

fix(for): parse trailing commas, quoted and numeric keys and nested defaults in loop patterns
  @mizu/for/parse.ts
  @mizu/for/parse_test.ts
Labels: scope: for

fix(for): parse trailing commas, quoted and numeric keys and nested defaults in loop patterns (#98)
  @mizu/for/parse.ts
  @mizu/for/parse_test.ts
Labels: scope: for

perf(internal): walk child nodes without materializing childNodes (#96)
  @mizu/internal/engine/renderer.ts
Labels: scope: internal

chore: update dependencies (#95)
  deno.jsonc
  deno.lock
  package-lock.json
  package.json
Labels: none

perf(internal): skip directives without setup or cleanup hooks (#97)
  @mizu/internal/engine/renderer.ts
Labels: scope: internal

feat(if): render `<template>` content in place of the template
  @mizu/if/else/mod.html
  @mizu/if/else/mod.ts
  @mizu/if/else/mod_test.html
  @mizu/if/mod.html
  @mizu/if/mod.ts
  @mizu/if/mod_test.html
Labels: scope: if

feat(if): delimit template content with a closing comment
  @mizu/if/else/mod_test.html
  @mizu/if/mod.ts
  @mizu/if/mod_test.html
Labels: scope: if

feat(if): skip generated template content when walked by the parent
  @mizu/if/mod.ts
Labels: scope: if

feat(for): render `<template>` content for each iteration
  @mizu/for/empty/mod.ts
  @mizu/for/empty/mod_test.html
  @mizu/for/mod.html
  @mizu/for/mod.ts
  @mizu/for/mod_test.html
Labels: scope: for

refactor(if): rename cache type, trim docs and handle nested template chains
  @mizu/if/else/mod.html
  @mizu/if/else/mod.ts
  @mizu/if/else/mod_test.html
  @mizu/if/mod.html
  @mizu/if/mod.ts
Labels: scope: if

docs(for): trim template comments
  @mizu/for/mod.html
  @mizu/for/mod.ts
Labels: scope: for

feat(internal): add the `!` once operator for directives
  @mizu/event/mod.ts
  @mizu/event/mod_test.html
  @mizu/internal/engine/renderer.ts
  @mizu/internal/engine/renderer_test.ts
  www/html/mizu/concepts.html
Labels: scope: event, scope: internal

feat(if): render `<template>` content in place of the template (#99)
  @mizu/if/else/mod.html
  @mizu/if/else/mod.ts
  @mizu/if/else/mod_test.html
  @mizu/if/mod.html
  @mizu/if/mod.ts
  @mizu/if/mod_test.html
Labels: scope: if

feat(for): render `<template>` content for each iteration (#100)
  @mizu/for/empty/mod.ts
  @mizu/for/empty/mod_test.html
  @mizu/for/mod.html
  @mizu/for/mod.ts
  @mizu/for/mod_test.html
Labels: scope: for

fix(www): restore the documentation site rendering
  @mizu/clean/mod.ts
  @mizu/clean/mod_test.html
  www/html/index.html
  www/static/components/mizu-modifier.html
Labels: scope: clean

fix(for,if): keep iterating and toggling templates that carry other directives
  @mizu/for/mod.html
  @mizu/for/mod.ts
  @mizu/for/mod_test.html
  @mizu/if/mod.html
  @mizu/if/mod.ts
  @mizu/if/mod_test.html
  www/html/index.html
Labels: scope: for, scope: if

feat(internal): remove once operator attributes once siblings are processed
  @mizu/for/empty/mod_test.html
  @mizu/if/else/mod_test.html
  @mizu/internal/engine/renderer.ts
  @mizu/internal/engine/renderer_test.ts
  www/html/mizu/concepts.html
Labels: scope: for, scope: if, scope: internal

fix(www): restore the documentation site rendering (#102)
  @mizu/clean/mod.ts
  @mizu/clean/mod_test.html
  @mizu/for/mod.html
  @mizu/for/mod.ts
  @mizu/for/mod_test.html
  @mizu/if/mod.html
  @mizu/if/mod.ts
  @mizu/if/mod_test.html
  www/static/components/mizu-modifier.html
Labels: scope: clean, scope: for, scope: if

refactor(internal): rename the `!` once operator to ephemeral marker
  @mizu/event/mod.ts
  @mizu/event/mod_test.html
  @mizu/for/empty/mod_test.html
  @mizu/if/else/mod_test.html
  @mizu/internal/engine/renderer.ts
  @mizu/internal/engine/renderer_test.ts
  www/html/mizu/concepts.html
Labels: scope: event, scope: for, scope: if, scope: internal

fix(if,for): react along with the directives `*else` and `*empty` depend on
  @mizu/for/empty/mod.ts
  @mizu/for/empty/mod_test.html
  @mizu/if/else/mod.ts
  @mizu/if/else/mod_test.html
  @mizu/internal/engine/renderer.ts
  @mizu/internal/engine/renderer_test.ts
Labels: scope: for, scope: if, scope: internal

docs(mizu): document the `!ephemeral` marker as a directive card
  .github/tools/mod_html_to_readme_md.ts
  @mizu/mizu/README.md
  @mizu/mizu/mod.html
  www/html/mizu/concepts.html
  www/serve.ts
  www/static/components/mizu-directive.html
Labels: scope:repo, scope: mizu

refactor(if,for): trim comments
  @mizu/for/empty/mod.ts
  @mizu/if/else/mod.ts
  @mizu/internal/engine/renderer.ts
Labels: scope: for, scope: if, scope: internal

docs(mizu): give the `!ephemeral` card the eligibility phase
  .github/tools/mod_html_to_readme_md.ts
  @mizu/mizu/README.md
  @mizu/mizu/mod.ts
  www/serve.ts
  www/static/components/mizu-directive.html
Labels: scope:repo, scope: mizu

docs(mizu): reword the `!ephemeral` card
  @mizu/internal/engine/renderer_test.ts
  @mizu/mizu/README.md
  @mizu/mizu/mod.html
Labels: scope: internal, scope: mizu

feat(mizu): add the `*mizu.compile` directive for self-contained rendering
  @mizu/event/mod.ts
  @mizu/internal/engine/directive.ts
  @mizu/internal/engine/renderer.ts
  @mizu/internal/engine/renderer_test.ts
  @mizu/mizu/compile/README.md
  @mizu/mizu/compile/mod.html
  @mizu/mizu/compile/mod.ts
  @mizu/mizu/compile/mod_test.html
  @mizu/mizu/compile/mod_test.ts
  @mizu/mizu/compile/serialize.ts
  @mizu/mizu/deno.jsonc
  @mizu/render/server/defaults.ts
  tsconfig.json
  www/html/mizu/directives.html
Labels: scope: event, scope: internal, scope: mizu, scope: render

fix(internal): escape string literals of compiled scripts
  @mizu/event/mod.ts
  @mizu/internal/engine/compile.ts
  @mizu/internal/engine/mod.ts
  @mizu/internal/engine/renderer_test.ts
  @mizu/mizu/compile/mod.ts
  @mizu/mizu/compile/serialize.ts
Labels: scope: event, scope: internal, scope: mizu

fix(if,for): react along with the directives `*else` and `*empty` depend on (#103)
  @mizu/for/empty/mod.ts
  @mizu/for/empty/mod_test.html
  @mizu/if/else/mod.ts
  @mizu/if/else/mod_test.html
  @mizu/internal/engine/renderer.ts
  @mizu/internal/engine/renderer_test.ts
Labels: scope: for, scope: if, scope: internal

docs(mizu): trim the `_ephemeral` comment
  @mizu/mizu/mod.ts
Labels: scope: mizu

feat(internal): add the `!` ephemeral marker for directives (#101)
  @mizu/event/mod.ts
  @mizu/event/mod_test.html
  @mizu/for/empty/mod_test.html
  @mizu/if/else/mod_test.html
  @mizu/internal/engine/renderer.ts
  @mizu/internal/engine/renderer_test.ts
  @mizu/mizu/README.md
  @mizu/mizu/mod.html
  @mizu/mizu/mod.ts
Labels: scope: event, scope: for, scope: if, scope: internal, scope: mizu

feat(render): bundle compiled elements with `Server.compile()` instead of generating listeners
  @mizu/event/mod.ts
  @mizu/internal/engine/compile.ts
  @mizu/internal/engine/directive.ts
  @mizu/internal/engine/mod.ts
  @mizu/internal/engine/renderer.ts
  @mizu/internal/engine/renderer_test.ts
  @mizu/mizu/compile/README.md
  @mizu/mizu/compile/mod.html
  @mizu/mizu/compile/mod.ts
  @mizu/mizu/compile/mod_test.html
  @mizu/mizu/compile/serialize.ts
  @mizu/render/server/compile.ts
  @mizu/render/server/compile_test.ts
  @mizu/render/server/defaults.ts
  @mizu/render/server/modules.ts
  @mizu/render/server/server.ts
  deno.jsonc
  deno.lock
Labels: scope: event, scope: internal, scope: mizu, scope: render

test(render): accept runtime-specific function sources in the serializer test
  @mizu/render/server/compile_test.ts
Labels: scope: render

perf(client): trim the client bundle
  @mizu/code/mod.ts
  @mizu/http/README.md
  @mizu/http/mod.html
  @mizu/http/mod.ts
  @mizu/internal/engine/renderer.ts
  @mizu/internal/testing/test.ts
  @mizu/model/mod.ts
Labels: scope: code, scope: http, scope: internal, scope: model

test(render): extract the compiled script without regular expressions
  @mizu/render/server/compile_test.ts
Labels: scope: render

chore(http,code): drop comments and note
  @mizu/code/mod.ts
  @mizu/http/README.md
  @mizu/http/mod.html
Labels: scope: code, scope: http

chore(http): drop comments
  @mizu/http/mod.ts
Labels: scope: http

perf(client): trim the client bundle (#105)
  @mizu/code/mod.ts
  @mizu/http/mod.ts
  @mizu/internal/engine/renderer.ts
  @mizu/internal/testing/test.ts
  @mizu/model/mod.ts
Labels: scope: code, scope: http, scope: internal, scope: model

refactor(render): simplify the compilation and add `*mizu.compile-entrypoint`
  @mizu/internal/engine/renderer.ts
  @mizu/internal/engine/renderer_test.ts
  @mizu/mizu/compile/README.md
  @mizu/mizu/compile/mod.html
  @mizu/mizu/compile/mod.ts
  @mizu/mizu/compile/mod_test.html
  @mizu/render/server/compile.ts
  @mizu/render/server/compile_test.ts
  @mizu/render/server/modules.ts
  @mizu/render/server/server.ts
  deno.jsonc
Labels: scope: internal, scope: mizu, scope: render

fix(render): escape `<!--` in bundled fragments
  @mizu/mizu/compile/README.md
  @mizu/mizu/compile/mod.html
  @mizu/mizu/compile/mod.ts
  @mizu/render/server/compile.ts
  @mizu/render/server/compile_test.ts
  @mizu/render/server/server.ts
Labels: scope: mizu, scope: render

feat(render): make the `render` mode output final
  @mizu/mizu/compile/README.md
  @mizu/mizu/compile/mod.html
  @mizu/render/server/compile.ts
  @mizu/render/server/compile_test.ts
  @mizu/render/server/server.ts
Labels: scope: mizu, scope: render
