Repository lowlighter/mizu, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, internal, api, www, directive-bind, directive-clean, directive-code, directive-custom-element, directive-eval, directive-event, directive-for, directive-html, directive-http, directive-if, directive-is, directive-markdown, directive-mizu, directive-model, directive-mustache, directive-once, directive-ref, directive-refresh, directive-set, directive-show, directive-skip, directive-test, directive-text, directive-toc

Update ci.yml
  .github/workflows/ci.yml
Labels: repo

update
  deno.jsonc
  deno.lock
Labels: none

continue
  deno.jsonc
  deno.lock
Labels: none

continue
  www/api/build.ts
  www/tools.ts
Labels: www

Update deno.lock
  deno.lock
Labels: none

Update deno.jsonc
  deno.jsonc
Labels: none

update
  deno.jsonc
  deno.lock
Labels: none

continue
  .github/workflows/ci.yml
  deno.jsonc
Labels: repo

fmt
  .github/workflows/ci.yml
Labels: repo

feat: add custom builder, pass 1 (#49)
  .github/tools/fill_github_scopes.ts
  .github/tools/github_actions_deno_deploy.ts
  .github/workflows/ci.yml
  .gitignore
  @mizu/bind/boolean.ts
  @mizu/code/mod_test.html
  @mizu/event/keyboard.ts
  @mizu/event/mod_test.html
  @mizu/for/mod_test.html
  @mizu/for/parse.ts
  @mizu/http/event/mod_test.html
  @mizu/http/mod_test.html
  @mizu/internal/engine/renderer.ts
  @mizu/internal/testing/fixtures/mod_test.html
  @mizu/internal/testing/test.ts
  @mizu/is/mod_test.html
  @mizu/markdown/mod_test.html
  @mizu/model/mod_test.html
  @mizu/mustache/capture.ts
  @mizu/refresh/mod_test.html
  @mizu/render/client/client.ts
  @mizu/test/mod.ts
  @mizu/test/mod_test.html
  deno.jsonc
  deno.lock
  package-lock.json
  package.json
  vercel.json
  www/api/build.ts
  www/build.ts
  www/html/build.html
  www/serve.ts
  www/static/styles.css
  www/tools.ts
Labels: repo, internal, api, www, directive-bind, directive-code, directive-event, directive-for, directive-http, directive-is, directive-markdown, directive-model, directive-mustache, directive-refresh, directive-test

feat(bind): default to attribute name
  @mizu/bind/mod.html
  @mizu/bind/mod.ts
  @mizu/bind/mod_test.html
Labels: directive-bind

Update mod_test.html
  @mizu/bind/mod_test.html
Labels: directive-bind

update
  package-lock.json
  package.json
Labels: none

feat(bind): default to attribute name (#50)
  @mizu/bind/mod.html
  @mizu/bind/mod.ts
  @mizu/bind/mod_test.html
  package-lock.json
  package.json
Labels: directive-bind

fix: allow multiple hosts
  www/api/build.ts
Labels: www

fix: builder
  .github/tools/github_actions_deno_deploy.ts
  deno.jsonc
  deno.lock
Labels: repo

Update deno.jsonc
  deno.jsonc
Labels: none

Update ci.yml
  .github/workflows/ci.yml
Labels: repo

fix
  .github/tools/github_actions_deno_deploy.ts
  .github/workflows/ci.yml
Labels: repo

fix: builder on deno deploy (#51)
  .github/tools/github_actions_deno_deploy.ts
  .github/workflows/ci.yml
  deno.jsonc
  deno.lock
Labels: repo

fix(www): minor improvements
  .github/tools/expand_glob.ts
  .github/tools/github_actions_deno_deploy.ts
  .gitignore
  deno.jsonc
  www/html/index.html
  www/html/mizu/examples/browsers/esm.html
  www/html/mizu/examples/browsers/iife.html
  www/serve.ts
  www/static/styles.css
Labels: repo, www

chore: update devcontainer.json
  .devcontainer/devcontainer.json
Labels: repo

ci: add autogeneration step
  .github/workflows/ci.yml
  deno.jsonc
Labels: repo

ci: add issue labeler
  .github/workflows/issue.yml
Labels: repo

fix(model): missing documentation, defaults to "value" and missing y/n support for boolean modifier
  @mizu/model/mod.html
  @mizu/model/mod.ts
  @mizu/model/mod_test.html
Labels: directive-model

chore: improve the way lockfiles are handled
  .github/tools/github_actions_deno_deploy.ts
  deno.jsonc
Labels: repo

fix: lockfiles
  deno.jsonc
  deno.lock
Labels: none

fix: commands
  .github/tools/expand_glob.ts
  deno.jsonc
Labels: repo

fix: lockfiles
  deno.jsonc
Labels: none

.github/labeler.yml:

# Repository files
repo:
  - changed-files:
      - any-glob-to-any-file:
          - .devcontainer/**
          - .github/**
          - .gitattributes
          - .gitignore
          - LICENSE
          - "*.md"
          - vercel.json

# Mizu core engine and end-user API
internal:
  - changed-files:
      - any-glob-to-any-file: "@mizu/internal/**"
api:
  - changed-files:
      - any-glob-to-any-file: "@mizu/render/**"

# Mizu website
www:
  - changed-files:
      - any-glob-to-any-file: "www/**"

# Mizu directives
directive-bind:
  - changed-files:
      - any-glob-to-any-file: "@mizu/bind/**"
directive-clean:
  - changed-files:
      - any-glob-to-any-file: "@mizu/clean/**"
directive-code:
  - changed-files:
      - any-glob-to-any-file: "@mizu/code/**"
directive-custom-element:
  - changed-files:
      - any-glob-to-any-file: "@mizu/custom-element/**"
directive-eval:
  - changed-files:
      - any-glob-to-any-file: "@mizu/eval/**"
directive-event:
  - changed-files:
      - any-glob-to-any-file: "@mizu/event/**"
directive-for:
  - changed-files:
      - any-glob-to-any-file: "@mizu/for/**"
directive-html:
  - changed-files:
      - any-glob-to-any-file: "@mizu/html/**"
directive-http:
  - changed-files:
      - any-glob-to-any-file: "@mizu/http/**"
directive-if:
  - changed-files:
      - any-glob-to-any-file: "@mizu/if/**"
directive-is:
  - changed-files:
      - any-glob-to-any-file: "@mizu/is/**"
directive-markdown:
  - changed-files:
      - any-glob-to-any-file: "@mizu/markdown/**"
directive-mizu:
  - changed-files:
      - any-glob-to-any-file: "@mizu/mizu/**"
directive-model:
  - changed-files:
      - any-glob-to-any-file: "@mizu/model/**"
directive-mustache:
  - changed-files:
      - any-glob-to-any-file: "@mizu/mustache/**"
directive-once:
  - changed-files:
      - any-glob-to-any-file: "@mizu/once/**"
directive-ref:
  - changed-files:
      - any-glob-to-any-file: "@mizu/ref/**"
directive-refresh:
  - changed-files:
      - any-glob-to-any-file: "@mizu/refresh/**"
directive-set:
  - changed-files:
      - any-glob-to-any-file: "@mizu/set/**"
directive-show:
  - changed-files:
      - any-glob-to-any-file: "@mizu/show/**"
directive-skip:
  - changed-files:
      - any-glob-to-any-file: "@mizu/skip/**"
directive-test:
  - changed-files:
      - any-glob-to-any-file: "@mizu/test/**"
directive-text:
  - changed-files:
      - any-glob-to-any-file: "@mizu/text/**"
directive-toc:
  - changed-files:
      - any-glob-to-any-file: "@mizu/toc/**"
