Repository lowlighter/mizu, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, internal, api, www, directive-bind, directive-clean, directive-code, directive-custom-element, directive-eval, directive-event, directive-for, directive-html, directive-http, directive-if, directive-is, directive-markdown, directive-mizu, directive-model, directive-mustache, directive-once, directive-ref, directive-refresh, directive-set, directive-show, directive-skip, directive-test, directive-text, directive-toc

.github/labeler.yml:

# Repository files
repo:
  - changed-files:
      - any-glob-to-any-file:
          - .devcontainer/**
          - .github/**
          - .gitattributes
          - .gitignore
          - LICENSE
          - "*.md"
          - vercel.json

# Mizu core engine and end-user API
internal:
  - changed-files:
      - any-glob-to-any-file: "@mizu/internal/**"
api:
  - changed-files:
      - any-glob-to-any-file: "@mizu/render/**"

# Mizu website
www:
  - changed-files:
      - any-glob-to-any-file: "www/**"

# Mizu directives
directive-bind:
  - changed-files:
      - any-glob-to-any-file: "@mizu/bind/**"
directive-clean:
  - changed-files:
      - any-glob-to-any-file: "@mizu/clean/**"
directive-code:
  - changed-files:
      - any-glob-to-any-file: "@mizu/code/**"
directive-custom-element:
  - changed-files:
      - any-glob-to-any-file: "@mizu/custom-element/**"
directive-eval:
  - changed-files:
      - any-glob-to-any-file: "@mizu/eval/**"
directive-event:
  - changed-files:
      - any-glob-to-any-file: "@mizu/event/**"
directive-for:
  - changed-files:
      - any-glob-to-any-file: "@mizu/for/**"
directive-html:
  - changed-files:
      - any-glob-to-any-file: "@mizu/html/**"
directive-http:
  - changed-files:
      - any-glob-to-any-file: "@mizu/http/**"
directive-if:
  - changed-files:
      - any-glob-to-any-file: "@mizu/if/**"
directive-is:
  - changed-files:
      - any-glob-to-any-file: "@mizu/is/**"
directive-markdown:
  - changed-files:
      - any-glob-to-any-file: "@mizu/markdown/**"
directive-mizu:
  - changed-files:
      - any-glob-to-any-file: "@mizu/mizu/**"
directive-model:
  - changed-files:
      - any-glob-to-any-file: "@mizu/model/**"
directive-mustache:
  - changed-files:
      - any-glob-to-any-file: "@mizu/mustache/**"
directive-once:
  - changed-files:
      - any-glob-to-any-file: "@mizu/once/**"
directive-ref:
  - changed-files:
      - any-glob-to-any-file: "@mizu/ref/**"
directive-refresh:
  - changed-files:
      - any-glob-to-any-file: "@mizu/refresh/**"
directive-set:
  - changed-files:
      - any-glob-to-any-file: "@mizu/set/**"
directive-show:
  - changed-files:
      - any-glob-to-any-file: "@mizu/show/**"
directive-skip:
  - changed-files:
      - any-glob-to-any-file: "@mizu/skip/**"
directive-test:
  - changed-files:
      - any-glob-to-any-file: "@mizu/test/**"
directive-text:
  - changed-files:
      - any-glob-to-any-file: "@mizu/text/**"
directive-toc:
  - changed-files:
      - any-glob-to-any-file: "@mizu/toc/**"

feat: add custom builder
  @mizu/internal/engine/renderer.ts
  @mizu/render/client/client.ts
  api/build.ts
  api/deno.jsonc
  deno.jsonc
  deno.lock
  vercel.json
  www/html/build.html
  www/serve.ts
  www/static/styles.css
  www/tools.ts
Labels: repo, internal, api, www

test vercel workspace
  api/deno.jsonc
  deno.jsonc
Labels: none

doc: fix typo
  www/html/mizu/demo.html
  www/html/mizu/faq.html
Labels: www

continue
  .devcontainer/Dockerfile
  .gitignore
  api/deno.jsonc
  deno.jsonc
  deno.lock
  www/api/build.ts
  www/build.ts
  www/serve.ts
Labels: repo, www

fix(render): handling of globs on windows platforms
  @mizu/render/deno.jsonc
  @mizu/render/server/generate.ts
Labels: api

continue
  .devcontainer/Dockerfile
  .github/workflows/ci.yml
  deno.jsonc
  deno.lock
  vercel.json
Labels: repo

Update deno.jsonc
  deno.jsonc
Labels: none

continue
  .github/workflows/ci.yml
  deno.jsonc
  www/api/build.ts
  www/serve.ts
Labels: repo, www

Update ci.yml
  .github/workflows/ci.yml
Labels: repo

fix(test): export `PHASE_TESTING_DELTA `
  @mizu/test/deno.jsonc
  @mizu/test/mod.ts
Labels: directive-test

feat(internal): add `elementHasPhase()` helper
  @mizu/internal/deno.jsonc
  @mizu/internal/engine/renderer.ts
  @mizu/internal/engine/renderer_test.ts
Labels: internal

fix(custom-element): combination with *for directive
  @mizu/custom-element/mod.ts
  @mizu/custom-element/mod_test.html
Labels: directive-custom-element

fix(custom-element): use proxy for attribute access to support reactivity
  @mizu/custom-element/deno.jsonc
  @mizu/custom-element/mod.ts
  @mizu/custom-element/mod_test.html
Labels: directive-custom-element

feat: add custom builder
  .github/tools/fill_github_scopes.ts
  .github/workflows/ci.yml
  .gitignore
  @mizu/bind/boolean.ts
  @mizu/code/mod_test.html
  @mizu/event/keyboard.ts
  @mizu/event/mod_test.html
  @mizu/for/mod_test.html
  @mizu/for/parse.ts
  @mizu/http/event/mod_test.html
  @mizu/http/mod_test.html
  @mizu/internal/engine/renderer.ts
  @mizu/internal/testing/fixtures/mod_test.html
  @mizu/internal/testing/test.ts
  @mizu/is/mod_test.html
  @mizu/markdown/mod_test.html
  @mizu/model/mod_test.html
  @mizu/mustache/capture.ts
  @mizu/refresh/mod_test.html
  @mizu/render/client/client.ts
  @mizu/test/mod.ts
  @mizu/test/mod_test.html
  deno.jsonc
  deno.lock
  package-lock.json
  package.json
  vercel.json
  www/api/build.ts
  www/build.ts
  www/html/build.html
  www/serve.ts
  www/static/styles.css
  www/tools.ts
Labels: repo, internal, api, www, directive-bind, directive-code, directive-event, directive-for, directive-http, directive-is, directive-markdown, directive-model, directive-mustache, directive-refresh, directive-test

Update mod.ts
  @mizu/test/mod.ts
Labels: directive-test

continue
  .github/tools/github_actions_deno_deploy.ts
  .github/workflows/ci.yml
  deno.jsonc
  deno.lock
Labels: repo

Update deno.jsonc
  deno.jsonc
Labels: none

continue
  .github/tools/github_actions_deno_deploy.ts
  deno.jsonc
Labels: repo

continue
  .github/tools/github_actions_deno_deploy.ts
  .gitignore
  deno.jsonc
  deno.lock
Labels: repo

Update deno.jsonc
  deno.jsonc
Labels: none

Update github_actions_deno_deploy.ts
  .github/tools/github_actions_deno_deploy.ts
Labels: repo

continue
  .github/tools/github_actions_deno_deploy.ts
  deno.jsonc
Labels: repo

Update deno.jsonc
  deno.jsonc
Labels: none

continue
  .github/tools/github_actions_deno_deploy.ts
  deno.jsonc
  deno.lock
Labels: repo

continue
  .github/tools/github_actions_deno_deploy.ts
  deno.jsonc
Labels: repo

Update deno.jsonc
  deno.jsonc
Labels: none

Update deno.jsonc
  deno.jsonc
Labels: none

Update deno.jsonc
  deno.jsonc
Labels: none

continue
  deno.jsonc
  deno.lock
  package-lock.json
Labels: none

Update deno.jsonc
  deno.jsonc
Labels: none

Update deno.jsonc
  deno.jsonc
Labels: none

continue
  deno.jsonc
  deno.lock
Labels: none

continue
  .gitignore
  deno.jsonc
  deno.lock
Labels: repo

continue
  deno.jsonc
Labels: none

Update build.ts
  www/api/build.ts
Labels: www

Update build.ts
  www/api/build.ts
Labels: www

continue
  deno.jsonc
  www/api/build.ts
Labels: www

Update deno.jsonc
  deno.jsonc
Labels: none

continue
  .github/workflows/ci.yml
  deno.jsonc
Labels: repo

continue
  .gitignore
  deno.jsonc
  deno.lock
  package-lock.json
  www/api/build.ts
  www/tools.ts
Labels: repo, www
