Repository lowlighter/mizu, changes with the labels that .github/labeler.yml gives for each.
All labels: scope:repo, scope: bind, scope: clean, scope: code, scope: custom-element, scope: eval, scope: event, scope: extras, scope: for, scope: html, scope: http, scope: if, scope: internal, scope: is, scope: markdown, scope: mizu, scope: model, scope: mustache, scope: once, scope: ref, scope: refresh, scope: render, scope: repo, scope: set, scope: show, scope: skip, scope: test, scope: text, scope: toc, scope: unstable, scope: www

.github/labeler.yml:

# Repository files

"scope:repo":
  - changed-files:
      - any-glob-to-any-file:
          - .devcontainer/**
          - .github/**
          - .gitattributes
          - .gitignore
          - LICENSE
          - "*.md"
          - vercel.json

## == Autogenerated configuration starts below == ##

"scope: bind":
  - changed-files:
      - any-glob-to-any-file: "@mizu/bind/**"
"scope: clean":
  - changed-files:
      - any-glob-to-any-file: "@mizu/clean/**"
"scope: code":
  - changed-files:
      - any-glob-to-any-file: "@mizu/code/**"
"scope: custom-element":
  - changed-files:
      - any-glob-to-any-file: "@mizu/custom-element/**"
"scope: eval":
  - changed-files:
      - any-glob-to-any-file: "@mizu/eval/**"
"scope: event":
  - changed-files:
      - any-glob-to-any-file: "@mizu/event/**"
"scope: extras":
  - changed-files:
      - any-glob-to-any-file: "@mizu/extras/**"
"scope: for":
  - changed-files:
      - any-glob-to-any-file: "@mizu/for/**"
"scope: html":
  - changed-files:
      - any-glob-to-any-file: "@mizu/html/**"
"scope: http":
  - changed-files:
      - any-glob-to-any-file: "@mizu/http/**"
"scope: if":
  - changed-files:
      - any-glob-to-any-file: "@mizu/if/**"
"scope: internal":
  - changed-files:
      - any-glob-to-any-file: "@mizu/internal/**"
"scope: is":
  - changed-files:
      - any-glob-to-any-file: "@mizu/is/**"
"scope: markdown":
  - changed-files:
      - any-glob-to-any-file: "@mizu/markdown/**"
"scope: mizu":
  - changed-files:
      - any-glob-to-any-file: "@mizu/mizu/**"
"scope: model":
  - changed-files:
      - any-glob-to-any-file: "@mizu/model/**"
"scope: mustache":
  - changed-files:
      - any-glob-to-any-file: "@mizu/mustache/**"
"scope: once":
  - changed-files:
      - any-glob-to-any-file: "@mizu/once/**"
"scope: ref":
  - changed-files:
      - any-glob-to-any-file: "@mizu/ref/**"
"scope: refresh":
  - changed-files:
      - any-glob-to-any-file: "@mizu/refresh/**"
"scope: render":
  - changed-files:
      - any-glob-to-any-file: "@mizu/render/**"
"scope: repo":
  - changed-files:
      - any-glob-to-any-file: "@mizu/repo/**"
"scope: set":
  - changed-files:
      - any-glob-to-any-file: "@mizu/set/**"
"scope: show":
  - changed-files:
      - any-glob-to-any-file: "@mizu/show/**"
"scope: skip":
  - changed-files:
      - any-glob-to-any-file: "@mizu/skip/**"
"scope: test":
  - changed-files:
      - any-glob-to-any-file: "@mizu/test/**"
"scope: text":
  - changed-files:
      - any-glob-to-any-file: "@mizu/text/**"
"scope: toc":
  - changed-files:
      - any-glob-to-any-file: "@mizu/toc/**"
"scope: unstable":
  - changed-files:
      - any-glob-to-any-file: "@mizu/unstable/**"
"scope: www":
  - changed-files:
      - any-glob-to-any-file: "@mizu/www/**"

fix(extras): change sandbox to be able to pass a custom sandbox url
  @mizu/extras/deno.jsonc
  @mizu/extras/evaluate/mod.ts
  @mizu/extras/evaluate/mod_test.ts
  @mizu/extras/evaluate/sandbox.ts
  @mizu/extras/evaluate_test.ts
Labels: scope: extras

fix(extras): name sandbox worker
  @mizu/extras/deno.jsonc
  @mizu/extras/evaluate/mod.ts
Labels: scope: extras

fix(internal): force symbol conversion to string in reactive contexts (towards #76)
  @mizu/internal/engine/renderer.ts
Labels: scope: internal

chore: bump versions
  @mizu/bind/deno.jsonc
  @mizu/clean/deno.jsonc
  @mizu/code/deno.jsonc
  @mizu/custom-element/deno.jsonc
  @mizu/eval/deno.jsonc
  @mizu/event/deno.jsonc
  @mizu/for/deno.jsonc
  @mizu/html/deno.jsonc
  @mizu/http/deno.jsonc
  @mizu/if/deno.jsonc
  @mizu/internal/deno.jsonc
  @mizu/is/deno.jsonc
  @mizu/markdown/deno.jsonc
  @mizu/mizu/deno.jsonc
  @mizu/model/deno.jsonc
  @mizu/mustache/deno.jsonc
  @mizu/once/deno.jsonc
  @mizu/ref/deno.jsonc
  @mizu/refresh/deno.jsonc
  @mizu/render/deno.jsonc
  @mizu/set/deno.jsonc
  @mizu/show/deno.jsonc
  @mizu/skip/deno.jsonc
  @mizu/test/deno.jsonc
  @mizu/text/deno.jsonc
  @mizu/toc/deno.jsonc
  @mizu/unstable/deno.jsonc
Labels: scope: bind, scope: clean, scope: code, scope: custom-element, scope: eval, scope: event, scope: for, scope: html, scope: http, scope: if, scope: internal, scope: is, scope: markdown, scope: mizu, scope: model, scope: mustache, scope: once, scope: ref, scope: refresh, scope: render, scope: set, scope: show, scope: skip, scope: test, scope: text, scope: toc, scope: unstable

chore: update dependencies
  @mizu/event/mod.ts
  @mizu/extras/evaluate/mod_test.ts
  @mizu/http/event/mod.ts
  @mizu/internal/engine/renderer.ts
  @mizu/model/mod.ts
  @mizu/show/mod_test.html
  deno.jsonc
  deno.lock
  package.json
  www/serve.ts
Labels: scope: event, scope: extras, scope: http, scope: internal, scope: model, scope: show

fix: tests
  @mizu/http/event/mod_test.html
  deno.jsonc
  www/static/rendering.svg
Labels: scope: http

ci: fix bump version tool
  @mizu/extras/deno.jsonc
Labels: scope: extras

chore: update dockerfile
  .devcontainer/Dockerfile
Labels: scope:repo

chore: update deps
  deno.jsonc
  deno.lock
  package-lock.json
  package.json
Labels: none

fix
  @mizu/internal/testing/test.ts
  deno.lock
Labels: scope: internal

continue
  .github/tools/bump_versions.ts
  @mizu/bind/mod_test.html
  @mizu/render/client/mod_test.ts
  deno.jsonc
  deno.lock
Labels: scope:repo, scope: bind, scope: render

chore: update deps (#78)
  .devcontainer/Dockerfile
  .github/tools/bump_versions.ts
  @mizu/bind/mod_test.html
  @mizu/internal/testing/test.ts
  @mizu/render/client/mod_test.ts
  deno.jsonc
  deno.lock
  package-lock.json
  package.json
Labels: scope:repo, scope: bind, scope: internal, scope: render

chore: update deps
  @mizu/code/deno.jsonc
  @mizu/http/deno.jsonc
  @mizu/markdown/deno.jsonc
  deno.lock
Labels: scope: code, scope: http, scope: markdown

update
  .github/workflows/ci.yml
Labels: scope:repo

Update deno.lock
  deno.lock
Labels: none

Create package-lock.json
  package-lock.json
Labels: none

updae
  package-lock.json
  package.json
Labels: none

chore: update deps (#79)
  .github/workflows/ci.yml
  @mizu/code/deno.jsonc
  @mizu/http/deno.jsonc
  @mizu/markdown/deno.jsonc
  deno.lock
  package-lock.json
  package.json
Labels: scope:repo, scope: code, scope: http, scope: markdown

chore: update
  deno.lock
Labels: none

chore: bump versions
  @mizu/bind/deno.jsonc
  @mizu/clean/deno.jsonc
  @mizu/code/deno.jsonc
  @mizu/custom-element/deno.jsonc
  @mizu/eval/deno.jsonc
  @mizu/event/deno.jsonc
  @mizu/for/deno.jsonc
  @mizu/html/deno.jsonc
  @mizu/http/deno.jsonc
  @mizu/if/deno.jsonc
  @mizu/internal/deno.jsonc
  @mizu/is/deno.jsonc
  @mizu/markdown/deno.jsonc
  @mizu/mizu/deno.jsonc
  @mizu/model/deno.jsonc
  @mizu/mustache/deno.jsonc
  @mizu/once/deno.jsonc
  @mizu/ref/deno.jsonc
  @mizu/refresh/deno.jsonc
  @mizu/render/deno.jsonc
  @mizu/set/deno.jsonc
  @mizu/show/deno.jsonc
  @mizu/skip/deno.jsonc
  @mizu/test/deno.jsonc
  @mizu/text/deno.jsonc
  @mizu/toc/deno.jsonc
  @mizu/unstable/deno.jsonc
Labels: scope: bind, scope: clean, scope: code, scope: custom-element, scope: eval, scope: event, scope: for, scope: html, scope: http, scope: if, scope: internal, scope: is, scope: markdown, scope: mizu, scope: model, scope: mustache, scope: once, scope: ref, scope: refresh, scope: render, scope: set, scope: show, scope: skip, scope: test, scope: text, scope: toc, scope: unstable

feat(markdown): add `inline` modifier
  @mizu/markdown/mod.html
  @mizu/markdown/mod.ts
  @mizu/markdown/mod_test.html
Labels: scope: markdown

feat(markdown): add `inline` modifier (#80)
  @mizu/markdown/mod.html
  @mizu/markdown/mod.ts
  @mizu/markdown/mod_test.html
Labels: scope: markdown

feat(once): add `.flat` modifier
  @mizu/internal/engine/renderer.ts
  @mizu/once/mod.html
  @mizu/once/mod.ts
  @mizu/once/mod_test.html
Labels: scope: internal, scope: once

Update mod_test.html
  @mizu/once/mod_test.html
Labels: scope: once

fix(custom-element): remove `.flat` modifier
  @mizu/custom-element/mod.html
  @mizu/custom-element/mod.ts
  @mizu/custom-element/mod_test.html
Labels: scope: custom-element

feat(once): add `.flat` modifier (#81)
  @mizu/internal/engine/renderer.ts
  @mizu/once/mod.html
  @mizu/once/mod.ts
  @mizu/once/mod_test.html
Labels: scope: internal, scope: once

fix(custom-element): remove `.flat` modifier (#82)
  @mizu/custom-element/mod.html
  @mizu/custom-element/mod.ts
  @mizu/custom-element/mod_test.html
Labels: scope: custom-element

fix: typing
  @mizu/custom-element/mod.ts
Labels: scope: custom-element

fix: typing
  @mizu/custom-element/mod.ts
Labels: scope: custom-element

chore: bump versions
  .github/workflows/ci.yml
  @mizu/bind/deno.jsonc
  @mizu/clean/deno.jsonc
  @mizu/code/deno.jsonc
  @mizu/custom-element/deno.jsonc
  @mizu/eval/deno.jsonc
  @mizu/event/deno.jsonc
  @mizu/extras/deno.jsonc
  @mizu/for/deno.jsonc
  @mizu/html/deno.jsonc
  @mizu/http/deno.jsonc
  @mizu/if/deno.jsonc
  @mizu/internal/deno.jsonc
  @mizu/is/deno.jsonc
  @mizu/markdown/deno.jsonc
  @mizu/mizu/deno.jsonc
  @mizu/model/deno.jsonc
  @mizu/mustache/deno.jsonc
  @mizu/once/deno.jsonc
  @mizu/ref/deno.jsonc
  @mizu/refresh/deno.jsonc
  @mizu/render/deno.jsonc
  @mizu/set/deno.jsonc
  @mizu/show/deno.jsonc
  @mizu/test/deno.jsonc
  @mizu/text/deno.jsonc
  @mizu/toc/deno.jsonc
  @mizu/unstable/deno.jsonc
Labels: scope:repo, scope: bind, scope: clean, scope: code, scope: custom-element, scope: eval, scope: event, scope: extras, scope: for, scope: html, scope: http, scope: if, scope: internal, scope: is, scope: markdown, scope: mizu, scope: model, scope: mustache, scope: once, scope: ref, scope: refresh, scope: render, scope: set, scope: show, scope: test, scope: text, scope: toc, scope: unstable

fix(custom-element): add back `.flat` modifier
  @mizu/custom-element/mod.html
  @mizu/custom-element/mod.ts
  @mizu/custom-element/mod_test.html
  @mizu/once/mod.html
  deno.lock
Labels: scope: custom-element, scope: once

fix(once): applies directive to children with `.flat` modifier
  @mizu/internal/engine/renderer.ts
  @mizu/once/mod.ts
Labels: scope: internal, scope: once

ci: bump deps
  .github/workflows/ci.yml
  .github/workflows/issue.yml
  .github/workflows/pr.yml
  .github/workflows/stale.yml
Labels: scope:repo

fix: doc
  @mizu/custom-element/mod.html
Labels: scope: custom-element

fix(once): preserve node identity and render `<template>` content with `.flat` modifier
  @mizu/internal/engine/renderer.ts
  @mizu/internal/engine/renderer_test.ts
  @mizu/once/mod.html
  @mizu/once/mod.ts
  @mizu/once/mod_test.html
Labels: scope: internal, scope: once

fix(custom-element): harden `.flat` modifier
  @mizu/custom-element/mod.html
  @mizu/custom-element/mod.ts
  @mizu/custom-element/mod_test.html
Labels: scope: custom-element

perf(internal): cheaper `parseAttribute()` and `setAttribute()`
  @mizu/internal/engine/renderer.ts
  @mizu/internal/engine/renderer_test.ts
Labels: scope: internal

perf(internal): share compiled expressions across elements
  @mizu/internal/engine/renderer.ts
  @mizu/internal/engine/renderer_test.ts
Labels: scope: internal

fix(internal): keep reactive rendering alive after flushes and throttled requests
  @mizu/internal/engine/renderer.ts
  @mizu/internal/engine/renderer_test.ts
Labels: scope: internal

perf(internal): stop reacting for replaced and disconnected elements
  @mizu/internal/engine/renderer.ts
  @mizu/internal/engine/renderer_test.ts
Labels: scope: internal
