Repository lowlighter/mizu, changes with the labels that .github/labeler.yml gives for each.
All labels: scope:repo, scope: bind, scope: clean, scope: code, scope: custom-element, scope: eval, scope: event, scope: extras, scope: for, scope: html, scope: http, scope: if, scope: internal, scope: is, scope: markdown, scope: mizu, scope: model, scope: mustache, scope: once, scope: ref, scope: refresh, scope: render, scope: repo, scope: set, scope: show, scope: skip, scope: test, scope: text, scope: toc, scope: unstable, scope: www

perf(internal): cheaper reactive render batches
  @mizu/internal/engine/renderer.ts
  @mizu/internal/engine/renderer_test.ts
Labels: scope: internal

perf(internal): memoize extracted attribute names
  @mizu/internal/engine/renderer.ts
  @mizu/internal/engine/renderer_test.ts
Labels: scope: internal

perf(internal): read node attributes once per render pass
  @mizu/internal/engine/renderer.ts
Labels: scope: internal

perf(for): reuse iteration contexts across renders
  @mizu/for/mod.ts
Labels: scope: for

fix(event): use latest context and state, drop listeners of removed elements
  @mizu/event/mod.ts
  @mizu/event/mod_test.html
Labels: scope: event

fix: type timers as `ReturnType<typeof setTimeout>`
  @mizu/event/mod.ts
  @mizu/refresh/mod.ts
Labels: scope: event, scope: refresh

chore: format with current `deno fmt`
  @mizu/bind/mod_test.html
  @mizu/code/mod_test.html
  @mizu/custom-element/README.md
  @mizu/custom-element/mod.html
  @mizu/custom-element/mod_test.html
  @mizu/eval/mod_test.html
  @mizu/event/mod_test.html
  @mizu/for/empty/README.md
  @mizu/for/empty/mod.html
  @mizu/for/empty/mod_test.html
  @mizu/for/mod_test.html
  @mizu/html/mod_test.html
  @mizu/http/event/mod_test.html
  @mizu/http/mod_test.html
  @mizu/if/else/README.md
  @mizu/if/else/mod.html
  @mizu/if/else/mod_test.html
  @mizu/if/mod_test.html
  @mizu/internal/testing/fixtures/mod_test.html
  @mizu/is/mod_test.html
  @mizu/markdown/mod_test.html
  @mizu/model/mod_test.html
  @mizu/mustache/mod_test.html
  @mizu/once/mod_test.html
  @mizu/refresh/mod_test.html
  @mizu/render/README.md
  @mizu/set/mod_test.html
  @mizu/show/mod_test.html
  @mizu/test/mod_test.html
  @mizu/text/mod_test.html
  README.md
  www/html/build.html
  www/html/mizu/demo.html
  www/html/mizu/examples/browsers/esm.html
  www/html/mizu/examples/playground/example.html
  www/html/mizu/tbd.html
  www/static/components/mizu-modifier.html
  www/static/styles.css
  www/static/waves.svg
Labels: scope:repo, scope: bind, scope: code, scope: custom-element, scope: eval, scope: event, scope: for, scope: html, scope: http, scope: if, scope: internal, scope: is, scope: markdown, scope: model, scope: mustache, scope: once, scope: refresh, scope: render, scope: set, scope: show, scope: test, scope: text

fix: type timers as `ReturnType<typeof setTimeout>`
  @mizu/event/mod.ts
  @mizu/refresh/mod.ts
Labels: scope: event, scope: refresh

fix: type timers as `ReturnType<typeof setTimeout>`
  @mizu/event/mod.ts
  @mizu/refresh/mod.ts
Labels: scope: event, scope: refresh

fix: type timers as `ReturnType<typeof setTimeout>`
  @mizu/event/mod.ts
  @mizu/refresh/mod.ts
Labels: scope: event, scope: refresh

fix: type timers as `ReturnType<typeof setTimeout>`
  @mizu/event/mod.ts
  @mizu/refresh/mod.ts
Labels: scope: event, scope: refresh

fix: type timers as `ReturnType<typeof setTimeout>`
  @mizu/event/mod.ts
  @mizu/refresh/mod.ts
Labels: scope: event, scope: refresh

fix: type timers as `ReturnType<typeof setTimeout>`
  @mizu/event/mod.ts
  @mizu/refresh/mod.ts
Labels: scope: event, scope: refresh

fix: type timers as `ReturnType<typeof setTimeout>`
  @mizu/event/mod.ts
  @mizu/refresh/mod.ts
Labels: scope: event, scope: refresh

test(http): tolerate whitespace around formatted response bodies
  @mizu/http/mod_test.html
Labels: scope: http

chore(once): remove comments and revert modifier description
  @mizu/once/mod.html
  @mizu/once/mod.ts
Labels: scope: once

chore: format
  @mizu/once/mod_test.html
Labels: scope: once

chore(internal): remove comments from reactive render queue
  @mizu/internal/engine/renderer.ts
Labels: scope: internal

chore: format
  @mizu/event/mod.ts
  @mizu/event/mod_test.html
Labels: scope: event

docs(internal): reword parseAttribute comment
  @mizu/internal/engine/renderer.ts
Labels: scope: internal

perf(internal): cheaper `parseAttribute()` and `setAttribute()` (#85)
  @mizu/internal/engine/renderer.ts
  @mizu/internal/engine/renderer_test.ts
Labels: scope: internal

docs(internal): drop expressions cache comment
  @mizu/internal/engine/renderer.ts
Labels: scope: internal

perf(internal): memoize extracted attribute names (#87)
  @mizu/internal/engine/renderer.ts
  @mizu/internal/engine/renderer_test.ts
Labels: scope: internal

perf(internal): share compiled expressions across elements (#86)
  @mizu/internal/engine/renderer.ts
  @mizu/internal/engine/renderer_test.ts
Labels: scope: internal

refactor(for): rename the id evaluation context
  @mizu/for/mod.ts
Labels: scope: for

fix(internal): keep reactive rendering alive after flushes and throttled requests (#84)
  @mizu/internal/engine/renderer.ts
  @mizu/internal/engine/renderer_test.ts
Labels: scope: internal

docs(internal): drop watched state comment
  @mizu/internal/engine/renderer.ts
Labels: scope: internal

docs(internal): shorten attributes retrieval comment
  @mizu/internal/engine/renderer.ts
Labels: scope: internal

perf(for): reuse iteration contexts across renders (#88)
  @mizu/for/mod.ts
Labels: scope: for

docs(event): drop listener refresh comment
  @mizu/event/mod.ts
Labels: scope: event

docs(event): shorten expired listeners comment
  @mizu/event/mod.ts
Labels: scope: event

perf(internal): stop reacting for replaced and disconnected elements (#91)
  @mizu/internal/engine/renderer.ts
  @mizu/internal/engine/renderer_test.ts
Labels: scope: internal

docs(custom-element): trim .flat modifier comments
  @mizu/custom-element/mod.html
  @mizu/custom-element/mod.ts
Labels: scope: custom-element

docs(internal): shorten reactive batch comment
  @mizu/internal/engine/renderer.ts
Labels: scope: internal

fix(custom-element): harden `.flat` modifier (#90)
  @mizu/custom-element/mod.ts
  @mizu/custom-element/mod_test.html
Labels: scope: custom-element

fix(event): use latest context and state, drop listeners of removed elements (#89)
  @mizu/event/mod.ts
  @mizu/event/mod_test.html
Labels: scope: event

perf(internal): read node attributes once per render pass (#92)
  @mizu/internal/engine/renderer.ts
Labels: scope: internal

perf(internal): cheaper reactive render batches (#93)
  @mizu/internal/engine/renderer.ts
  @mizu/internal/engine/renderer_test.ts
Labels: scope: internal

chore: update dependencies
  deno.jsonc
  deno.lock
  package-lock.json
  package.json
Labels: none

perf(internal): walk child nodes without materializing childNodes
  @mizu/internal/engine/renderer.ts
Labels: scope: internal

.github/labeler.yml:

# Repository files

"scope:repo":
  - changed-files:
      - any-glob-to-any-file:
          - .devcontainer/**
          - .github/**
          - .gitattributes
          - .gitignore
          - LICENSE
          - "*.md"
          - vercel.json

## == Autogenerated configuration starts below == ##

"scope: bind":
  - changed-files:
      - any-glob-to-any-file: "@mizu/bind/**"
"scope: clean":
  - changed-files:
      - any-glob-to-any-file: "@mizu/clean/**"
"scope: code":
  - changed-files:
      - any-glob-to-any-file: "@mizu/code/**"
"scope: custom-element":
  - changed-files:
      - any-glob-to-any-file: "@mizu/custom-element/**"
"scope: eval":
  - changed-files:
      - any-glob-to-any-file: "@mizu/eval/**"
"scope: event":
  - changed-files:
      - any-glob-to-any-file: "@mizu/event/**"
"scope: extras":
  - changed-files:
      - any-glob-to-any-file: "@mizu/extras/**"
"scope: for":
  - changed-files:
      - any-glob-to-any-file: "@mizu/for/**"
"scope: html":
  - changed-files:
      - any-glob-to-any-file: "@mizu/html/**"
"scope: http":
  - changed-files:
      - any-glob-to-any-file: "@mizu/http/**"
"scope: if":
  - changed-files:
      - any-glob-to-any-file: "@mizu/if/**"
"scope: internal":
  - changed-files:
      - any-glob-to-any-file: "@mizu/internal/**"
"scope: is":
  - changed-files:
      - any-glob-to-any-file: "@mizu/is/**"
"scope: markdown":
  - changed-files:
      - any-glob-to-any-file: "@mizu/markdown/**"
"scope: mizu":
  - changed-files:
      - any-glob-to-any-file: "@mizu/mizu/**"
"scope: model":
  - changed-files:
      - any-glob-to-any-file: "@mizu/model/**"
"scope: mustache":
  - changed-files:
      - any-glob-to-any-file: "@mizu/mustache/**"
"scope: once":
  - changed-files:
      - any-glob-to-any-file: "@mizu/once/**"
"scope: ref":
  - changed-files:
      - any-glob-to-any-file: "@mizu/ref/**"
"scope: refresh":
  - changed-files:
      - any-glob-to-any-file: "@mizu/refresh/**"
"scope: render":
  - changed-files:
      - any-glob-to-any-file: "@mizu/render/**"
"scope: repo":
  - changed-files:
      - any-glob-to-any-file: "@mizu/repo/**"
"scope: set":
  - changed-files:
      - any-glob-to-any-file: "@mizu/set/**"
"scope: show":
  - changed-files:
      - any-glob-to-any-file: "@mizu/show/**"
"scope: skip":
  - changed-files:
      - any-glob-to-any-file: "@mizu/skip/**"
"scope: test":
  - changed-files:
      - any-glob-to-any-file: "@mizu/test/**"
"scope: text":
  - changed-files:
      - any-glob-to-any-file: "@mizu/text/**"
"scope: toc":
  - changed-files:
      - any-glob-to-any-file: "@mizu/toc/**"
"scope: unstable":
  - changed-files:
      - any-glob-to-any-file: "@mizu/unstable/**"
"scope: www":
  - changed-files:
      - any-glob-to-any-file: "@mizu/www/**"
